h2, p, li, h1, label, option, select {
    font-family: 'Epilogue', sans-serif;
    letter-spacing: -0.7px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links, h2 {
    flex: 1;
}

.home-header {
    font-size: 1000%;
    letter-spacing: -10px;
    line-height: 90%;
}

.form-border {
    border-radius: 25px;
    border: 2px solid black;
    border-width: 2px;
    padding: 10%;
    display: inline-block;
}

.body-l {
    min-height: 1920px;
    
}

.body-m {
    min-height: 960px;
}

.fs-s {
    min-height: 50px;
}

.fs-m {
    min-height: 100px;
}
