h2, p, li, h1, label, option, select {
    font-family: 'Epilogue', sans-serif;
    letter-spacing: -0.7px;
}

textarea {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links, h2 {
    flex: 1;
}

.home-header {
    font-size: 1000%;
    letter-spacing: -10px;
    line-height: 90%;
}

.email-sender-bg {
    background: lightgrey;
    width: 750px;
    border-radius: 10px;
    padding: 1%;
}

.email-header {
    font-size: 220%;
}

.email-sender {
    font-size: 110%;
}

.email-content {
    margin-top: 5%;
    text-align: right;
    text-overflow: ellipsis;
    max-width: 200px;
}

.email-content2 {
    margin-top: 5%;
    text-align: left;
}

.email-content3 {
    text-align: left;
}

.email-date {
    font-size: 90%;
    text-align: left;
}

.form-border {
    border-radius: 25px;
    border: 2px solid black;
    border-width: 2px;
    padding: 10%;
    display: inline-block;
}

.email-border {
    border-radius: 25px;
    border: 2px solid black;
    border-width: 2px;
    min-width: 900px;
    padding: 4%;
}

.reply-border {
    border-radius: 25px;
    border: 2px solid black;
    border-width: 2px;
    min-width: 900px;
    padding: 2%;
}

.body-l {
    min-height: 1920px;

}

.body-m {
    min-height: 960px;
}

.fs-xs {
    min-height: 15px;
}

.fs-s {
    min-height: 50px;
}

.fs-m {
    min-height: 100px;
}
